INTERFACEDOCKERS_1_1_0_1/Workflows/RefreshDockerImportFile-95CEE675-F898-EE11-BE37-0022487FE354.json
{
  "properties": {
    "connectionReferences": {
      "shared_dataflows_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_shareddataflows_bac63"
        },
        "api": {
          "name": "shared_dataflows"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr0d6_SharePoint0bab001f13284af896206fbabe1a2e69"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_dataflows": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "agl_shareddataflows_85da1"
        },
        "api": {
          "name": "shared_dataflows"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cm237_CR_Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)": {
          "defaultValue": "https://teamsite.msc.com/sites/cm004-afr-cio-zulaa-dev",
          "type": "String",
          "metadata": {
            "schemaName": "cm237_Ev_Con_Site_ZulaaDev",
            "description": "Site de la dev où sont stockés les templates des documents de bon de commande, expression de besoin, réception et sortie de stock"
          }
        }
      },
      "triggers": {
        "Quand_une_actualisation_de_dataflow_se_termine": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "metadata": {
            "operationMetadataId": "65451dfa-bdd9-430e-849f-cfdd1bc561ac"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_dataflows",
              "operationId": "OnRefreshComplete",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows"
            },
            "parameters": {
              "workspaceType": "Environment",
              "groupIdForOnRefreshComplete": "45cc0213-1dfd-ebf8-a80e-577bb9a2c94a-31c688f59-europe",
              "dataflowIdForOnRefreshComplete": "0a9ae033-48d9-4228-808d-b217e6f66706"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Envoyer_un_e-mail_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0ff480aa-979f-4164-95ac-1261566b5bb4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('email')",
                  "emailMessage/Subject": "Echec Import ",
                  "emailMessage/Body": "<p>L'importation des données à echouée.</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Supprimer_le_fichier": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Actualiser_un_dataflow": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "5193a5a8-bec9-4bdb-b014-67cc15b91900"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_dataflows_1",
                    "operationId": "RefreshDataflow",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_dataflows"
                  },
                  "parameters": {
                    "workspaceType": "Environment",
                    "groupIdForRefreshDataflow": "45cc0213-1dfd-ebf8-a80e-577bb9a2c94a-31c688f59-europe",
                    "dataflowIdForRefreshDataflow": "dd2d522a-3fe9-46ed-b594-c8689eb13582"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Envoyer_un_e-mail_(V2)_2": {
                "runAfter": {
                  "Actualiser_un_dataflow": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "728f9428-93dc-4053-ad79-21b7dcc44522"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@variables('email')",
                    "emailMessage/Subject": "Importation Reussie",
                    "emailMessage/Body": "<p>l'importation de la facture dans le systeme</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/status']",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "19d0b16a-05a4-480c-a96b-926d4e3ed27b"
          },
          "type": "If"
        },
        "Supprimer_le_fichier": {
          "runAfter": {
            "Appliquer_à_chacun": [
              "Succeeded"
            ]
          },
          "metadata": {
            "%252fShared%2bDocuments%252fDockersFactures%252fPointage.xlsx": "/Shared Documents/DockersFactures/Pointage.xlsx",
            "operationMetadataId": "4c1a045e-9e03-4fd7-8373-68c877f5920b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "DeleteFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "id": "%252fShared%2bDocuments%252fDockersFactures%252fPointage.xlsx"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialiser_la_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4dcccc52-7b0d-44e7-aebc-527c38be914f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email",
                "type": "string"
              }
            ]
          }
        },
        "Obtenir_les_éléments": {
          "runAfter": {
            "Initialiser_la_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f13688d2-ff9f-4159-b0d8-38d45e3da4be"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('Ev_Con_Site_ZulaaProd (cm237_Ev_Con_Site_ZulaaDev)')",
              "table": "3007dbb2-f021-4c75-99ef-9d1552ebd627",
              "$orderby": "ID desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Appliquer_à_chacun": {
          "foreach": "@outputs('Obtenir_les_éléments')?['body/value']",
          "actions": {
            "Définir_une_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "12648e73-496d-42a2-83d5-2090edd175b6"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "email",
                "value": "@items('Appliquer_à_chacun')?['Title']"
              }
            }
          },
          "runAfter": {
            "Obtenir_les_éléments": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "97ac1b14-1702-4997-8b25-49e68ee1083c"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}